body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

.movies, .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie, .review {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    width: 300px;
}

.movie h3 {
    margin: 0;
    font-size: 1.5em;
}
